html {
  font-size: 1em;
}
body {
  margin: auto;
  margin-top: 1rem;
}
.base {
  display: grid;
  grid-row-gap: 1em;
}
.header {
  color: white;
  background-color: rgb(63, 81, 181);
  box-shadow: 0 0 8px #393939;
  border-radius: 6px 6px 0 0;
}
.title {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.title-text {
  margin-left: 1em;
  margin-right: 1em;
}
.logo {
  width: 39px;
  height: 39px;
  border-radius: 6px;
}
.nav {
  display: flex;
  justify-content: space-evenly;
}
.nav-link {
  color: rgb(229, 232, 245);
  padding: 1em;
}
a.unset {
  color: unset;
  text-decoration: unset;
}
a.active {
  color: deeppink;
  background-color: lightgray;
  border-radius: 0.39em 0.39em 0 0;
}
.audio-player {
  height: 39px;
  width: 100%;
}
td.clickable {
  cursor: pointer;
}
div.clickable {
  cursor: pointer;
}
div.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.search_toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}
div.feedback {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
button.refresh {
  width: 100%;
}
td,
th {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
dialog {
  border: solid;
}
.player-options {
  display: flex;
}
.ffmpeg-config {
  display: flex;
  justify-content: space-between;
}
.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.warp-word {
  overflow-wrap: anywhere;
}
.number-input {
  width: 5em;
}
