html {
	font-size: 1em;
}
.base {
	display: grid;
	grid-row-gap: 1em;
}
.header {
	color: white;
	background-color: rgb(63, 81, 181);
	box-shadow: 0 0 8px #393939;
}
.title {
	margin-left: 1em;
	display: flex;
	align-items: center;
}
.title-text {
	margin-left: 1em;
	margin-right: 1em;
}
.logo {
	width: 39px;
	height: 39px;
	border-radius: 6px;
}
.nav {
	display: flex;
	justify-content: space-evenly;
}
.nav-link {
	color: rgb(229, 232, 245);
	padding: 1em;
}
a.router-link-active {
	color: deeppink;
	background-color: lightgray;
	border-radius: 0.39em 0.39em 0 0;
}
.audio-player {
	height: 39px;
	width: 100%;
}
td.clickable {
	cursor: pointer;
}
